*{
    margin: 0;
    padding: 0;
}
.home{
    display:grid;
    height: 100vh;
    background-color:silver ;
    grid-template-columns: auto;
    grid-template-rows: 25% 25% auto 75px;
    grid-template-areas:"logo"
                        "pictures"
                        "form"
                        "footer";
}


header{
grid-area: logo;
}
section#pictures{
    grid-area: pictures;
}
section#form{
    grid-area: form;
    justify-self: center;
}
footer{
    grid-area: footer;
}
.logo{
    display: flex;
    justify-content: center;
}
.machines{
    display: flex;
    justify-content: space-around;
}
.form_subtitle{
    text-align: center;
    margin-top: 3rem;
}
.form_text{
    margin: 1rem;
}
.form_btn{
    text-align: center;
}

@media screen and (max-width: 450px){
    .home{
        grid-template-areas:"logo"
                            "pictures"
                            "form"
                            "footer";
    }    
    section#pictures{
        display: none;
    }
}
