*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout{
    display: grid;
    height: 100vh;
    background-color: whitesmoke;
    grid-template-columns:10% repeat(7, 1fr) ;
    grid-template-rows:repeat(3, 1fr) repeat(3, 20%) ;
    grid-template-areas:"nav tpopNav tpopNav tpopNav tpopNav tpopNav tpopNav tpopNav"
                        "nav workArea workArea workArea workArea workArea workArea workArea"
                        "nav workArea workArea workArea workArea workArea workArea workArea"
                        "alarm workArea workArea workArea workArea workArea workArea workArea"
                        "up    workArea workArea workArea workArea workArea workArea workArea"
                        "down  workArea workArea workArea workArea workArea workArea workArea";
}

.navMenu{
    grid-area: nav;
    justify-content: center;    
    
}
.alarm{
    grid-area: alarm;
}
.up{
    grid-area: up;
}
.down{
    grid-area: down;
}
.tpopNav{
    grid-area: tpopNav;
    padding: 0;
    display: grid;
}
.navBarMenu{
    height: 100%;
    justify-content: center;
    align-content: space-between;
}
.navBarMenu__btn{
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: black;
    
}
.navBarMenu__btn .nav-item{
    margin: 15px;
    border: 2px black solid;
}
.navBarMenu__btn .nav-item:hover{
    background-color: silver;
    opacity: 50%;
    
}
.tpopNav .d-flex { 
    flex: 1; 
    justify-content: center; 
  } 
  .tpopNav .d-flex .nav-item { 
    align-items: center; 
    display: flex; 
  } 
  .tpopNav .d-flex .nav-item button { 
    height: 100%; 
  } 
.tpopNavMob{
        display: none;
        border-bottom: 1px solid navy;
}
.tpopNavMob__img{
    height: 50px;
    margin-top: 15px;
}
.tpopNavMob .nav{
    justify-content: center;
}
.workArea{
    grid-area: workArea;
    
}
/* CSS Para los botones de Step UP, Down y Alarm */
.btn{
    display: flex;
    margin: 5px;
    align-content: center;
    justify-content: center;
}
.btnSteps{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.imgSteps:hover{
    margin: 5px;
    border: 4px navy solid;
}
.imgSteps{
    background: linear-gradient(155deg, white 0%, gray 100%);
    width: 100%;
    height: auto;    
}
.border{
    border-style: solid;
    border: 1px;
    border-color: black;
}
/*PANELES TPOP*/
.card{
--bs-card-bg: #ffffffd3;
}
.card-img-top{
    margin: 10px;
    align-self: center;
    width: 20%;
}
.tab-pane{
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/*Parte Mobile */
@media screen and (max-width: 576px){
    .layout{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10% 80% 10%;
        grid-template-areas:"nav tpopNavMob tpopNavMob"
                            "workArea workArea workArea"
                            "alarm up down";
    }
    .navMenu{
        border-bottom: 1px solid navy;
    }
    .workArea{
        width: 100%;
    }
    .tpopNavMob{
        grid-area: tpopNavMob;
        display: block
    }
    .tpopNavMob .dropdown-menu.show{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tpopNav{
        display: none;
    }
    .alarm{
        display: flex;
        align-items: stretch;
    }
    .up{
        display: flex;
        align-items: stretch;
    }
    .down{
        display: flex;
        align-items: stretch;
    }

}