*{
    margin: 0;
    padding: 0;
}
.layout{
    display: grid;
    height: 100vh;
    background-color: silver;
    grid-template-columns: minmax(20%, 100px) auto minmax(10%, 100px);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:"toolbar" "modules" "modules"
                        "toolbar" "tpop" "step"
                        "toolbar" "tpop" "step"
                        "toolbar" "tpop" "step"
                        "toolbar" "tpop" "step"
                        "toolbar" "tpop" "step";
}