*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout{
    display: grid;
    height: 100vh;
    background-color: silver;
    grid-template-columns:10% repeat(7, 1fr) ;
    grid-template-rows:repeat(3, 1fr) repeat(3, 15%) ;
    grid-template-areas:"nav tpopNav tpopNav tpopNav tpopNav tpopNav tpopNav tpopNav"
                        "nav workArea workArea workArea workArea workArea workArea workArea"
                        "nav workArea workArea workArea workArea workArea workArea workArea"
                        "alarm workArea workArea workArea workArea workArea workArea workArea"
                        "up    workArea workArea workArea workArea workArea workArea workArea"
                        "down  workArea workArea workArea workArea workArea workArea workArea";
}

.navMenu{
    grid-area: nav;
}
.alarm{
    grid-area: alarm;   
}
.up{
    grid-area: up;
}
.down{
    grid-area: down;
}
.tpopNav{
    grid-area: tpopNav;
    padding: 0;
    display: grid;
}
.tpopNav .d-flex { 
    flex: 1; 
    justify-content: center; 
  } 
  .tpopNav .d-flex .nav-item { 
    align-items: center; 
    display: flex; 
  } 
  .tpopNav .d-flex .nav-item button { 
    height: 100%; 
    border-radius: 0; 
  } 
.tpopNavMob{
        display: none;
    }
.workArea{
    grid-area: workArea;
    background-color:antiquewhite ;
    border-style: solid;
}
.btn{
    background: linear-gradient(155deg, white 0%, gray 100%);
}
.border{
    border-style: solid;
    border: 1px;
    border-color: black;
}
.height{
    height: 100%;
}
.modules{
    height: 10%;
}
@media screen and (max-width: 576px){
    .layout{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10% 80% 10%;
        grid-template-areas:"nav tpopNavMob tpopNavMob"
                            "workArea workArea workArea"
                            "alarm up down";
    }
    .tpopNavMob{
        grid-area: tpopNavMob;
        display: block
}
    .tpopNav{
        display: none;
    }
}