* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout, .layout--report, .layout--help, .layout--connect, .layout--home, .layout--tpop {
  display: grid;
  height: 100vh;
  background-color: whitesmoke;
}

.centrado, .footer--connect, .monitor--connect, .form--connect, .header--connect, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg--centrado, .layout--help, .tab-pane {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.layout--tpop {
  grid-template-columns: 10% repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr) repeat(3, 20%);
  grid-template-areas: "nav tpopNav tpopNav tpopNav tpopNav tpopNav tpopNav tpopNav" "nav workArea workArea workArea workArea workArea workArea workArea" "nav workArea workArea workArea workArea workArea workArea workArea" "navSteps workArea workArea workArea workArea workArea workArea workArea" "navSteps workArea workArea workArea workArea workArea workArea workArea" "navSteps workArea workArea workArea workArea workArea workArea workArea";
}

.navMenu {
  grid-area: nav;
  justify-content: center;
}

.navSteps {
  grid-area: navSteps;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.tpopNav {
  grid-area: tpopNav;
  padding: 0;
  display: grid;
}
.tpopNav .rowNav {
  align-items: center;
}
.tpopNav .rowNav .nav-item {
  display: flex;
  height: 100%;
}
.tpopNav .rowNav .nav-item .nav-link img {
  margin-right: 15px;
}
.tpopNav.d-flex {
  flex: 1;
  justify-content: center;
}

.workArea {
  grid-area: workArea;
}

.tpopNavMob {
  display: none;
  border-bottom: 1px solid navy;
}
.tpopNavMob .nav {
  justify-content: center;
}

/* CSS Para el navegador TPOP/ TOOLS / Report */
.navBarMenu {
  width: 100%;
}
.navBarMenu .nav-link {
  padding: 40px 0 40px 0;
}

.navbar-collapse {
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
}
.navbar-collapse .nav-link:hover {
  background-color: rgb(200, 200, 200);
  border-radius: 20px;
}

.navbar-nav {
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.navbar-nav .nav-link.active {
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 20px;
}

/* CSS Para el navegador modulos TPOP*/
.nav-pills .nav-link:hover {
  background-color: rgb(200, 200, 200);
  border-radius: 20px;
}
.nav-pills .nav-link.active {
  background-color: rgba(0, 0, 255, 0.5);
  border-radius: 20px;
}

/* CSS Para los botones de Step UP, Down y Alarm */
.btn {
  margin: 5px;
}

.imgSteps {
  background: linear-gradient(155deg, white 0%, gray 100%);
  width: 100%;
  height: 100%;
}
.imgSteps:hover {
  border: 4px navy solid;
}

.border {
  border-style: solid;
  border: 1px;
  border-color: black;
}

/*PANELES TPOP*/
.card {
  --bs-card-bg: #ffffffd3;
}

.card-img-top {
  margin: 10px;
  align-self: center;
  width: 20%;
}

.tab-pane {
  height: 100%;
  overflow-x: auto;
}

/*Parte Mobile */
@media screen and (max-width: 576px) {
  .layout--tpop {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "nav tpopNavMob tpopNavMob" "workArea workArea workArea" "navSteps navSteps navSteps";
  }

  .navMenu {
    border-bottom: 1px solid navy;
    --bs-navbar-toggler-padding-y: 0;
  }

  .workArea {
    width: 100%;
  }

  .tpopNavMob {
    grid-area: tpopNavMob;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .tpopNavMob .nav {
    margin-bottom: 0;
  }
  .tpopNavMob .dropdown-menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
    height: 80vh;
  }
  .tpopNavMob img {
    height: 35px;
  }

  .tpopNav {
    display: none;
  }

  .navSteps {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
  }

  .navbar-collapse {
    border: 1px solid navy;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    margin-top: 1rem;
  }

  .navBarMenu .nav-link {
    padding: 20px 0 20px 0;
    margin: 5px 0 5px 0;
  }

  .btnSteps {
    height: 100%;
  }
}
.layout--home {
  grid-template-columns: auto;
  grid-template-rows: 25% 25% auto 75px;
  grid-template-areas: "logo" "pictures" "form" "footer";
}

.header--home {
  grid-area: logo;
  display: flex;
  justify-content: center;
}

.pictures--home {
  grid-area: pictures;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.form--home {
  grid-area: form;
  justify-self: center;
}

.footer--home {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.form_subtitle {
  text-align: center;
  margin-top: 3rem;
}

.form_text {
  margin: 1rem;
}

.form_btn {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .layout--home {
    grid-template-rows: 50% 40% 10%;
    grid-template-areas: "logo" "form" "footer";
  }

  .pictures--home {
    display: none;
  }
}
.layout--connect {
  grid-template-columns: auto;
  grid-template-rows: 35% auto 5fr 1fr;
  grid-template-areas: "logo" "form" "monitor" "footer";
}

.header--connect {
  grid-area: logo;
}
.header--connect a {
  height: 100%;
}
.header--connect .logo_img {
  height: 100%;
}

.form--connect {
  grid-area: form;
  flex-direction: column;
  width: 100%;
}
.form--connect h2 {
  margin-bottom: 2%;
}

.monitor--connect {
  grid-area: monitor;
  width: 100%;
}

.footer--connect {
  grid-area: footer;
  flex-direction: column;
  width: 100%;
}

.btnCon {
  padding: 5px 10px;
}

.monitorArea {
  background-color: white;
  height: 70%;
  width: 70%;
  border: 1px solid black;
}

.btnMon {
  width: 25%;
  height: auto;
  padding: 10px;
  margin: 5px;
}

button:hover {
  background-color: silver;
  border: 2px solid black;
}

@media screen and (max-width: 576px) {
  .monitorArea {
    justify-items: center;
    width: 95%;
    height: 90%;
  }

  .btnMon {
    width: 45%;
    margin: 5px;
  }
}
.layout--help {
  flex-direction: column;
  background-image: url("../assets/tetra pak logo.svg");
}

.text--help {
  margin: 2rem;
}

.footer--help {
  align-self: end;
}

.layout--report {
  flex-direction: column;
}

.header--report {
  border-bottom: 2px solid black;
}
.header--report li {
  width: 30%;
}

.main--report {
  display: block;
  overflow-y: auto;
  background-color: whitesmoke;
}

.footer--report {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  background-color: whitesmoke;
  border-top: 2px solid black;
}
.footer--report button {
  width: 30%;
}

.table {
  --bs-table-border-color: black;
}
.table input {
  width: 80%;
}
.table th {
  width: 30%;
  margin-left: 2rem;
}
.table textarea {
  width: 90%;
}/*# sourceMappingURL=main.css.map */