@import "./parciales/reset";

.layout{
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
header{
    border-bottom: 2px solid black;
}
main{
    display: block;
    overflow-y: auto;
    background-color: whitesmoke;
}
footer{
    display: flex;
    align-items: flex-end;
    justify-content: start;
    background-color: whitesmoke;
    border-top: 2px solid black;
}
.table{
    --bs-table-border-color: black;
}
input{
    width: 80%;
}
th{
    width: 30%;
    margin-left: 2rem;
}
textarea{
    width: 90%;
}