.layout--report{
    @extend .layout;
    flex-direction: column;
}
.header--report{
    border-bottom: 2px solid black;
    & li {
        width: 30%;
    }
}
.main--report{
    display: block;
    overflow-y: auto;
    background-color: whitesmoke;
}
.footer--report{
    display: flex;
    align-items: flex-end;
    justify-content: start;
    background-color: whitesmoke;
    border-top: 2px solid black;
    
    & button {
        width: 30%;
    }
}
.table{
    --bs-table-border-color: black;
    & input{
        width: 80%;
    }
    & th{
        width: 30%;
        margin-left: 2rem;
    }
    & textarea{
        width: 90%;
    }
}