*{
    margin: 0;
    padding: 0;
}
.home{
    display:grid;
    height: 100vh;
    background-color:whitesmoke ;
    grid-template-columns: auto;
    grid-template-rows: 25% 25% auto 75px;
    grid-template-areas:"logo"
                        "pictures"
                        "form"
                        "footer";
}


header{
grid-area: logo;
}
section#pictures{
    grid-area: pictures;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;

}
section#form{
    grid-area: form;
    justify-self: center;
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.logo{
    display: flex;
    justify-content: center;
}
.form_subtitle{
    text-align: center;
    margin-top: 3rem;
}
.form_text{
    margin: 1rem;
}
.form_btn{
    text-align: center;
}

@media screen and (max-width: 576px){
    .home{
        grid-template-rows: 50% 40% 10%;
        grid-template-areas:"logo"
                            "form"
                            "footer";
    }    
    section#pictures{
        display: none;
    }
}
